body {
    background-color: rgb(122, 241, 202);
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 20px auto;
    max-width: 50%;
    text-align: center;
}
h1{
    color: rgb(85, 85, 211);
}
h2{
    font-size: 30px;
}
button{
    background-color: rgb(85, 85, 211);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 5px;
    padding: 8px 12px;
    transition: .5s all ease;

}
button:hover{
    background-color: rgb(126, 126, 199);
}
form{
    margin-top: 20px;
}
label{
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

input,textarea{
    box-sizing: border-box;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
ul{
    list-style: none;
    padding: 0;
}
.postItem{
    background-color: rgb(153, 202, 202);
    border: 1px solid #a1a6c1;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}
.editForm{
    display: none;
    margin-top: 10px;
}
